---

---

<div
  style={{ fontFamily: "Montserrat, sans-serif" }}
  class="bg-black w-[90%] rounded-md flex flex-col"
>
  <div class="flex p-5 w-full rounded-full gap-5 items-center">
    <div class="bg-white self-start rounded-full h-8 w-8">
      <img
        src="https://cdn-icons-png.flaticon.com/512/266/266033.png"
        alt="avatar png"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="flex w-[90%] flex-col py-1 gap-3 justify-start">
      <p class="text-white"><b>Nombre</b> (Edad)</p>
      <p class="text-white text-sm">
        Nicol es muy buena entrenadora, ya que me permite sacar lo mejor de mi
        en cada entrenamiento y dejar mis limites
      </p>
    </div>
  </div>
</div>
