---
import { AboutCards } from "../components/AboutCards";
---

<section id="about" class="mb-[100px]">
  <h1
    class="text-4xl text-center font-bold"
    style={{ fontFamily: "Bebas Neue, sans-serif" }}
  >
    Sobre mí
  </h1>
  <img
    class="mask_image w-full h-full object-cover"
    src="/profile-banner.png"
  />
  <div class="flex flex-col justify-center items-center gap-3">
    <AboutCards
      client:only="react"
      title={"¿Quién soy?"}
      description={"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus nisl ante, commodo dictum neque rutrum rhoncus. Nulla quis metus a dui finibus euismod. Suspendisse vitae ante lorem. Ut sapien risus, fringilla et ultricies ac, auctor quis augue. Donec sit amet diam eu nunc ullamcorper pretium. Etiam at feugiat orci. Sed rhoncus sem eu faucibus vehicula. Morbi quis euismod quam. Praesent sodales aliquet cursus. Proin congue augue non ante cursus iaculis. Nam vitae felis vitae quam feugiat porttitor ac sit amet libero. In sollicitudin ex eu felis dapibus aliquet."}
    />
    <AboutCards
      client:only="react"
      title={"Experiencia"}
      description={"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus nisl ante, commodo dictum neque rutrum rhoncus. Nulla quis metus a dui finibus euismod. Suspendisse vitae ante lorem. Ut sapien risus, fringilla et ultricies ac, auctor quis augue. Donec sit amet diam eu nunc ullamcorper pretium. Etiam at feugiat orci. Sed rhoncus sem eu faucibus vehicula. Morbi quis euismod quam. Praesent sodales aliquet cursus. Proin congue augue non ante cursus iaculis. Nam vitae felis vitae quam feugiat porttitor ac sit amet libero. In sollicitudin ex eu felis dapibus aliquet."}
    />
    <AboutCards
      client:only="react"
      title={"Estudios"}
      description={"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus nisl ante, commodo dictum neque rutrum rhoncus. Nulla quis metus a dui finibus euismod. Suspendisse vitae ante lorem. Ut sapien risus, fringilla et ultricies ac, auctor quis augue. Donec sit amet diam eu nunc ullamcorper pretium. Etiam at feugiat orci. Sed rhoncus sem eu faucibus vehicula. Morbi quis euismod quam. Praesent sodales aliquet cursus. Proin congue augue non ante cursus iaculis. Nam vitae felis vitae quam feugiat porttitor ac sit amet libero. In sollicitudin ex eu felis dapibus aliquet."}
    />
  </div>
</section>
