---
import "../../styles/global.css";
---

<section
  style="font-family: 'Bebas Neue', sans-serif;"
  class="hero bebas-neue-regular min-h-screen flex flex-col lg:flex-row justify-between items-center px-4 lg:px-0 relative"
>
  <div class="lg:hidden absolute inset-0 w-full h-full">
    <img
      class="mask_image w-full h-full object-cover"
      src="/profile-banner.png"
    />
    <div class="absolute inset-0 bg-white/80"></div>
  </div>

  <div
    class="w-full m-auto lg:m-0 lg:w-[55%] h-full lg:h-[90%] justify-between flex flex-col lg:pl-[100px] py-8 lg:py-0 relative z-10"
  >
    <div class="flex flex-col gap-4">
      <h1
        class="text-[45px] sm:text-[65px] lg:text-[75px] xl:text-[100px] leading-[55px] sm:leading-[65px] xl:leading-[90px] text-center lg:text-left"
      >
        DA EL PRIMER PASO HOY Y DESCUBRE DE LO QUE ERES CAPAZ
      </h1>
      <h2
        class="text-lg sm:text-xl xl:text-3xl leading-[25px] xl:leading-[40px] uppercase text-[#898989]"
      >
        Con un plan de entrenamiento personalizado, trabajamos juntas para
        alcanzar tus objetivos. <br class="lg:hidden block" />
        <b class="text-black">Cada sesión está diseñada para ti</b>
      </h2>
    </div>
    <div class="flex flex-col items-center gap-2 mt-10">
      <h3
        class="text-2xl sm:text-3xl xl:text-4xl uppercase text-black text-center"
      >
        ¿estás lista para transformar tu cuerpo y tu mente?
      </h3>
      <a href="#planes" class="w-full sm:w-auto">
        <button
          class=`bg-[#F47AC4] text-xl sm:text-2xl xl:text-4xl w-full sm:w-auto cursor-pointer rounded-sm px-6 py-4`
        >
          <p class="text-white">ENTRENA CONMIGO</p>
        </button>
      </a>
    </div>
  </div>

  <img
    class="hidden mask_image lg:block lg:w-auto lg:h-[90%] object-cover"
    src="/profile-banner.png"
  />
</section>
