---
import "./global.css";
---

<div
  style="font-family: 'Bebas Neue', sans-serif;"
  class="hero bebas-neue-regular h-screen flex justify-between items-center"
>
  <div class="w-[55%] h-[90%] justify-between flex flex-col pl-[100px]">
    <div class="flex flex-col gap-4">
      <h1 class="xl:leading-[150px] leading-[65px] xl:text-[120px] text-[75px]">
        DA EL PRIMER PASO HOY Y DESCUBRE DE LO QUE ERES CAPAZ
      </h1>
      <h2
        class="xl:text-3xl text-2xl xl:leading-[40px] leading-[25px] uppercase text-[#898989]"
      >
        Con un plan de entrenamiento personalizado, trabajamos juntas para
        alcanzar tus objetivos. Cada sesión está diseñada para ti, para que
        progreses y avances de manera segura y efectiva
      </h2>
    </div>
    <div class="flex flex-col items-center gap-4">
      <h3 class="xl:text-4xl text-2xl uppercase text-black">
        ¿estás lista para transformar tu cuerpo y tu mente?
      </h3>
      <a
        href="https://wa.me/573222701924?text=Hola,%20me%20gustaria%20conocer%20sobre%20los%20planes%20de%20entrenamiento%20personalizado%20y%20me%20gustaria%20recibir%20m%C3%A1s%20informaci%C3%B3n.%20%C2%BFPodr%C3%ADan%20ayudarme%3F"
      >
        <button
          class="bg-[#F47AC4] xl:text-4xl p-10 text-2xl cursor-pointer rounded-[10px] px-6 py-4"
        >
          <p class="text-white">ENTRENA CONMIGO</p>
        </button>
      </a>
    </div>
  </div>
  <img class="h-[90%] object-cover" src="/profile-banner.png" />
</div>
